<h1><%= @user.email %></h1>

<p>College: <%= @user.college.name if @user.college %></p>
<p>Items by this seller:</p>
<ul>
  <% @user.items.each do |item| %>
    <li><%= link_to item.title, item_path(item) %></li>
  <% end %>
</ul>

